flows (backup).json
[{"id":"9a905e58950cc8d6","type":"tab","label":"Flujo 2","disabled":false,"info":"","env":[]},{"id":"969bfec07682a2a5","type":"ui_led","z":"9a905e58950cc8d6","order":2,"group":"1fb69c20a5bffeca","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":510,"y":80,"wires":[],"info":"led verde"},{"id":"db7a174fc8e059d8","type":"ui_led","z":"9a905e58950cc8d6","order":3,"group":"1fb69c20a5bffeca","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":510,"y":140,"wires":[],"info":"led naranja"},{"id":"cbf7112db1ed9172","type":"ui_led","z":"9a905e58950cc8d6","order":4,"group":"1fb69c20a5bffeca","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":510,"y":200,"wires":[],"info":"led rojo"},{"id":"37b4c06e28169d45","type":"s7 in","z":"9a905e58950cc8d6","endpoint":"537d7b517b79d9ae","mode":"single","variable":"verde","diff":false,"name":"","x":210,"y":80,"wires":[["969bfec07682a2a5"]],"info":"recoge la variable del Tia portal y lo muestra  mediante led"},{"id":"4d834e977196d6a9","type":"s7 in","z":"9a905e58950cc8d6","endpoint":"537d7b517b79d9ae","mode":"single","variable":"naranja","diff":true,"name":"","x":210,"y":140,"wires":[["db7a174fc8e059d8"]],"info":"recoge la variable del Tia portal y lo muestra  mediante led"},{"id":"1fad0332d6050395","type":"s7 in","z":"9a905e58950cc8d6","endpoint":"537d7b517b79d9ae","mode":"single","variable":"rojo","diff":true,"name":"","x":210,"y":200,"wires":[["cbf7112db1ed9172"]],"info":"\r\nrecoge la variable del Tia portal y lo muestra  mediante led"},{"id":"d0cb679cb192e8af","type":"ui_text","z":"9a905e58950cc8d6","group":"1fb69c20a5bffeca","order":1,"width":0,"height":0,"name":"","label":"nº de coches:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":540,"y":280,"wires":[],"info":"el contador le manda el numero de coches para que los cuente"},{"id":"9b9f84c2e335309f","type":"s7 in","z":"9a905e58950cc8d6","endpoint":"537d7b517b79d9ae","mode":"single","variable":"contador","diff":true,"name":"","x":200,"y":280,"wires":[["d0cb679cb192e8af"]],"info":"recoge la variable contador y lo muestra siendo estos los coches"},{"id":"929f28560c04cc06","type":"function","z":"9a905e58950cc8d6","name":"W_DB","func":"let capacidad = msg.payload;\n\nlet tzoffset = (new Date()).getTimezoneOffset()*60000;\nlet fecha =(new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\n\n\nmsg.topic = \"INSERT INTO garaje VALUES('\"+capacidad+\"','\"+fecha+\"')\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[["58023d5f2e603a78"]]},{"id":"8316d65da4f913e0","type":"debug","z":"9a905e58950cc8d6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":400,"wires":[]},{"id":"58023d5f2e603a78","type":"mysql","z":"9a905e58950cc8d6","mydb":"cd55a0ce73440eae","name":"","x":530,"y":400,"wires":[["8316d65da4f913e0"]]},{"id":"ae5efbf9e7beeabd","type":"s7 in","z":"9a905e58950cc8d6","endpoint":"537d7b517b79d9ae","mode":"single","variable":"contador","diff":true,"name":"","x":200,"y":400,"wires":[["929f28560c04cc06"]],"info":"envía los comentarios a mysql"},{"id":"1fb69c20a5bffeca","type":"ui_group","name":"semaforo","tab":"b1607db5e995ab99","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"537d7b517b79d9ae","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M1.0","name":"verde"},{"addr":"M1.1","name":"naranja"},{"addr":"M1.2","name":"rojo"},{"addr":"MW320","name":"contador"}]},{"id":"cd55a0ce73440eae","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"pruebas_db","tz":"","charset":"UTF8"},{"id":"b1607db5e995ab99","type":"ui_tab","name":"garaje","icon":"dashboard","order":2,"disabled":false,"hidden":false}]